Flask
Flask-Migrate
Flask-SQLAlchemy
Flask-Script
Flask-WTF
Jinja2
Mako
MarkupSafe
Flask-SQLAlchemy
WTForms
Werkzeug
alembic
argparse
click
gunicorn
itsdangerous
psycopg2
python-dateutil
python-editor
six
wsgiref
